{% extends 'index.html' %}

{% block content %}
    {% if error %}
        <table align="center">
            <tr>
                <th style="color: red;font-size: 25px;padding: 8px">{{ error }}</th>
            </tr>
        </table>
    {% endif %}

    {% if result %}
        <table align="center" border="2">
            <tr>
                <th colspan="3">State-Wise Contact Number's</th>
            </tr>

            <tr>
                <th>States</th>
                <th>Contact Number's</th>
            </tr>

            {% for foo in result.data.contacts.regional %}
                <tr>
                    <th>{{ foo.loc }}</th>
                    <th>{{ foo.number }}</th>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}